* {
    margin: 0;
    box-sizing: border-box;
}

body>img:nth-of-type(1) {
    display: none;
}

body {
    background-image: none;
    background-repeat: no-repeat;
    max-width: 1170px;
    min-height: 1376px;
    font-size: 2rem;
    opacity: 1;
    color: blue;
}

.container>* {
    border: 2px dashed blue;
    background-color: lavender;
    /* Just to show that there is a logo (it is white) */
}

.container {
    display: grid;
    grid-template-rows: minmax(50px, auto) minmax(120px, auto) minmax(500px, auto) minmax(290px, auto) minmax(470px, auto) minmax(640px, auto);
    grid-template-columns: minmax(20px, 375px) minmax(20px, 990px);
    grid-template-areas:
        "one one"
        "two two"
        "six eight"
        "three seven"
        "three four"
        "five five";
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box2 img {
    max-width: 100%;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
    background-image: url("https://th.bing.com/th/id/OIG.wIe7g2RKN.4mRGkl0VuO?pid=ImgGn");
    background-blend-mode: multiply;
    background-color: grey;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: sans-serif;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ededed;
    background-color: #183a52;
    flex-wrap: wrap;

    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

li {
    padding: 1rem;
    text-transform: capitalize;
    border-bottom: 1px solid #ededed;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "one"
            "two"
            "six"
            "eight"
            "three"
            "seven"
            "four"
            "five";
    }
}