body {
	font-family: Geneva;
}

#header {
	background-color: dimgray;
	height: 5.5rem;
	border-bottom: 1rem solid LightSalmon;
}

h1 {
	font-size: 1.5rem;
	color: white;
}

#title {
	height: 35rem;
	background-color: lightgray;
	text-align: center;
}

* {
	margin: 0;
}

#about {
	display: flex;
}

#about img {
	height: 22rem;
}

h3 {
	color: LightSalmon;
	width: 16rem;
	margin: 0 auto;
	text-align: center;
	padding-top: 2.5rem;
}

#fav {
	display: flex;
	justify-content: space-evenly;
}